@font-face {
  font-family: 'anton';
  font-display: swap;
  src: url(./font/anton.woff2) format("woff2");
}
@font-face {
    font-family: 'poppins';
    font-display: swap;
    src: url(./font/poppins_400.woff2) format("woff2");
  }